name: Build
# inspired from
# - https://github.com/android/nowinandroid/blob/main/.github/workflows/Build.yaml
on:
  push:
    branches: ["frontend","master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Set Secret Properties
        working-directory: ./android
        env:
          SECRETS_PROPERTIES: ${{ secrets.SECRETS_PROPERTIES }}
        run: echo "$SECRETS_PROPERTIES" > ./secrets.properties

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: "zulu"
          java-version: 17

      - name: Grant execute permission for gradlew
        working-directory: ./android
        run: chmod +x ./gradlew

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Build debug
        working-directory: ./android
        run: ./gradlew assembleDebug

      - name: Update latest-develop tag
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/frontend' }}
        run : git tag -f latest-develop; git push -f --tags

      - name: Development release
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/frontend' }}
        uses: marvinpinto/action-automatic-releases@v1.1.2
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: true
          automatic_release_tag: latest-develop
          title: "Latest development build"
          files: |
            android/app/build/outputs/apk/debug/app-debug.apk
            android/app/build/outputs/apk/debug/output-metadata.json